* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* barra de navegación*/
.navigator {
  background-color: #2080a0;
}
/* logo del navegador */
.brand {
  height: 30px;
  width: 30px;
}
/*Titulo*/
.title {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
/* Sección principal */
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poster-container {
  outline: 1px solid red;
  width: 60vw;
  height: 50vh;
}