* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.color {
  background-color: antiquewhite;
}
.poster-container {
  background-color: aqua;
  padding: 2em;
  height: 60vh;
  width: 80vw;
}