* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* Navbar */
.navbar-header{
  padding-bottom: 1.5em;
}
.nav-style{
  background: #467FD7;
}
.logo{
  font-family: 'Righteous', cursive;
  font-size: 1.8em;
  color: #fff;
}
.logo-img{
  height: 7vh;
  padding-bottom: .3em;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
/* barra de navegación
.navigator {
  background-color: #467FD7;
  height: 14vh;
}
/* logo del navegador 
.brand {
  height: 60px;
  width: 60px;
}
/*Titulo
.title {
  font-family: 'Righteous', cursive;
  font-size: 38px;
  color: #fff;
  text-decoration: none;
}
/* opciones del navegador 
.desktop-menu {
  font-family: 'Righteous', cursive;
  list-style: none;
  text-decoration: none;
}
.desktop-menu li a {
  color: #fff;
  display: flex;
  padding: 1em;
}
/* Sección principal */
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.poster-container {
  outline: 1px dashed red;
  width: 45vw;
  height: 54vh;
  margin-left: 16vw;
  margin-bottom: 5vh;
}
.favorite-btn {
  display: inline-block;
}
.heart-icon {
  background-image: url('../assets/img/heart-icon.svg');
  width: 20px;
  height: 20px;
}
/* Media queries */
@media (min-width: 576px) and (max-width: 767px) {
  .poster-container {
    outline: 1px solid blue;
    width: 35vw;
    height: 55vh;
    margin: 2vw;;
  }
  .desktop-menu li a {
    padding: 0; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .poster-container {
    outline: 1px solid green;
    width: 26vw;
    height: 58vh;
    margin-left: 24px;
    margin-top: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .poster-container {
    outline-color: orange;
    width: 24vw;
    height: 58vh;
    margin-left: 28px;
    margin-top: 18px;
  }
}
