*{
  font-family: 'Roboto', sans-serif;
}
body {
  background: #f7f7f7;
}
/* Navbar */
.navbar-header{
  padding-bottom: 1.5em;
}
.nav-style{
  background: #000;
}
.logo{
  font-family: 'Righteous', cursive;
  font-size: 1.8em;
  color: #fff;
  text-shadow: 2px 2px 8px #fff;
}
.logo-img{
  height: 7vh;
  padding-bottom: .3em;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.icon-bar{
  color: #fff;
}

/* filter */
.title{
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  text-shadow: 2px 2px #646c6e
}
.emotion-pic{
  width: 1.8em;
}
.selection-film {
  color: #000;
  text-shadow: 1px 1px #646c6e;
  text-decoration-line: none;
  font-size: 1.4em;
  -webkit-transition: font-size 2s;
  transition: font-size ease 4s;
}
.selection-film:hover {
  color: #000;
  font-size: 1.8em;
  font-weight: 800;
  text-decoration-line: underline;
}
/* carousel */
.color{
  background: #646c6e;
  margin-bottom: 0;
  padding-top: 1.5em;
}
/* Search Filter */
.text {
  color: #000;
  font-weight: 800;
  text-shadow: 2px 2px #646c6e;
}
/* Search button*/
.btn {
  background: #000;
  color: #fff;
  font-weight: bold;
  transition: font-size ease 3s;
  -webkit-transition: background ease 1s;
}
.btn:hover {
  background:#fff;
  border: 1px solid #000;
  font-size: 1.2em;
  color: #000;
}
.efecto-carita {
  margin-top: 1em;
  color: white;
  border-radius: 6px;
  border: 2px solid yellow;
  background-color: black;
}
.media-carousel .carousel-control.left
{
  left:.3em;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 7em;
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right:.3em;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 7em;
}

.media-carousel .carousel-control.left 
{
  left:.3em;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 7em;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right:.3em;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 7em;
}

@media (min-width: 768px){
  .emotion-pic{
    width: 7em;
  }
  .title{
    font-size: 2.5em;
  }
}
