* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.search-options ul {
  list-style: none;
}
.modal-header {
  text-align: center;
  padding: 3em;
}
.select-container select{
  border: 2px dotted #d8d8d8;
  border-radius: 2px;
  padding: 5px;
}
.search-bar {
  width: 60vw;
}