<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>API Movie</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>hola</h1>
      <div class="row">
        <div class="col-xs-6">
          <h2>Search</h2>
          <input id="title" class="form-control"type="text" name="" value="">
          <button id="searchBtn" class="btn btn-primary btn-block" type="button" name="button">Search</button>
          <ul id="results" class="list-group"></ul>
        </div>
        <div class="col-xs-6">
          <h2>Details</h2>
        </div>
        <div class="col-xs-6 images">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/filtroSearch.js"></script>
  </body>
</html>
