<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>PeliMotion</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/firstView.css">
  </head>
  <body>
   <header>
     <nav class="navigator navbar">
       <div class="container">
         <div class="row">
           <div class="col-xs-6 col-sm-4 push-left col-md-3">
             <div class="navbar-header navbar-brand">
               <a href="#" class="title"><img src="../assets/img/movie.png" alt="" class="brand">Pelimotion</a>
             </div>
           </div>
           <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6">
              <div class="navbar-nav collapse">
                  <ul class="desktop-menu navbar-nav right-navbar">
                    <li>
                      <a href="#">Sign up</a>
                     </li>
                    <li>
                      <a href="#">Log in</a></li>
                  </ul>
                </div>
           </div>
         </div>
       </div>
     </nav>
   </header>
   <section>
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="poster-container mx-auto"></div>
         </div>
          <div class="col-xs-12 col-sm-7 col-md-8 mx-auto">
            <h2>Titulo de Pelicula</h2>
            <section class="favorites mx-auto">
                <a href="#" class="favorite-btn" role="button"></a>
            </section>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 mx-auto">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem aspernatur? Totam excepturi ratione aut exercitationem! Ea nisi ipsa dolorem perspiciatis asperiores ducimus quod? Nemo tempora velit amet ea ratione.</p>
          </div>
        </div>
     </div>
   </section>
  

        <!-- enlazando libreria JQuery -->
      <script type="text/javascript" src="../vendors/jquery/js/jquery-3.2.1.min.js"></script>
        <!-- enlazando recurso de bootstrap -->
      <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
        <!-- enlazando nuestro archivo js -->
      <script type="text/javascript" src="../js/firstView.js"></script>
  
  </body>
</html>
