<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>PeliMotion</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/firstView.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <!--NAVBAR-->
  <nav class="container-fluid">
      <div class="row">
        <div class="navbar navbar-default nav-style">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand pull-right" href="#">
                <p class="logo">
                  <img alt="Brand" class="logo-img" src="../assets/img/movie.png">Pelimotion</p>
              </a>
              <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Menu List -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active">
                  <a href="#">Ingresa</a>
                </li>
                <li>
                  <a href="#about">Registrate</a>
                </li> -->
                <li>
                  <a id="login" class=""><i class="fa fa-google-plus-square" aria-hidden="true"></i> Ingresa</a>              
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--NAVBAR END-->
   <section class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-6">
          <div class="poster-content"></div>
        </div>
        <div class="col-sm-offset-3 col-sm-4 col-md-offset-2 col-md-4 col-lg-12 text-center">
          <h2>Titulo de Pelicula</h2>
          <section class="favorites">
              <a href="#" type="btn"><span class="icon-star-o"></span></a>
              <a href="#" type="btn"><span class="icon-heart-o"></span></a>
          </section>
        </div>
        <div class="col-sm-offset-1 col-sm-8 col-md-7 col-lg-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ad, sit omnis deleniti cum quia mollitia non aspernatur nulla neque inventore error rerum veniam sapiente. Excepturi eos earum cum error?</p>
        </div>
      </div>
   </section>
  

        <!-- enlazando libreria JQuery -->
      <script type="text/javascript" src="../vendors/jquery/js/jquery-3.2.1.min.js"></script>
        <!-- enlazando recurso de bootstrap -->
      <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
        <!-- enlazando nuestro archivo js -->
      <script type="text/javascript" src="../js/firstView.js"></script>
  
  </body>
</html>
