<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PeliMotion</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto|Roboto+Condensed" rel="stylesheet"> </head>

<body>
  <!--NAVBAR-->
  <nav class="container-fluid">
    <div class="row">
      <div class="navbar navbar-default nav-style">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand pull-right" href="#">
              <p class="logo">
                <img alt="Brand" class="logo-img" src="../assets/img/movie.png">Pelimotion</p>
            </a>
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Menu List -->
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="active">
                <a href="#">Ingresa</a>
              </li>
              <li>
                <a href="#about">Registrate</a>
              </li> -->
              <li>
                  <a id="login" class="login-text"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Ingresa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--NAVBAR END-->

  <!--FILTER SECTION-->
  <div id="imageul" class="col-md-6">
    <a class="thumbnail" href="#">
      <img alt="" src="http://placehold.it/500x500">
    </a>
  </div>
  <div class="col-md-6">
    <h3 class="movie-name"><strong>Guerra de las Galaxias</strong></h3>
    <div class="movie-info">
      <h4 class="movie-name"><strong>Sipnosis</strong></h3>
    </div>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <div class="info-extra">
      <div class="year">
        <span>Año</span>
      </div>
      <div class="genre">
        <span>Genero</span>
      </div>
      <div class="director">
        <span>Director</span>
      </div>
      <div class="country">
        <span>País</span>
      </div>
    </div>
    <div class="slide-buttons container-flex-row">
				<a href="../index.html" type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</a>
			</div>
  </div>

    <script type="text/javascript" src="../vendors/jquery/js/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
    <script type="text/javascript" src="../js/movie.js"></script>
    <script type="text/javascript" src="../js/filtroSearch.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
