<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>PeliMotion</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/secondView.css">
  </head>
  <body>
    <!-- Modal filtro de busqueda -->
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Buscar</button>

    <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- contenido del modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Buscar</h3>
        <br><br>
        <div class="input-group col-xs-12">
          <input type="search" placeholder="search" class="search-bar  ">
      </div>
      <div class="modal-body">
        <div class="search-options">
          <br>
          <ul>
            <li class="select-container">
              <select name="" id="" class="col-xs-12 col-md-12">
                <option value="">Año</option>
                <option value="">2017</option>
                <option value="">2016</option>
                <option value="">2015</option>
              </select>
            </li>
              <br><br>
            <li class="select-container ">
              <select name="" id="" class="col-xs-12 col-md-12">
                <option value="">Género</option>
                <option value="">Acción</option>
                <option value="">Comedia</option>
                <option value="">Terror</option>
              </select>
            </li>
              <br><br>
            <li class="select-container ">
              <select name="" id="" class="col-xs-12 col-md-12">
                <option value="">Puntuación</option>
                <option value="">5 estrellas</option>
                <option value="">4 estrellas</option>
                <option value="">3 estrellas</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
        <!-- pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


      <!-- enlazando libreria JQuery -->
    <script type="text/javascript" src="../vendors/jquery/js/jquery-3.2.1.min.js"></script>
      <!-- enlazando recurso de bootstrap -->
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
      <!-- enlazando nuestro archivo js -->
    <script type="text/javascript" src="../js/secondView.js"></script>

  </body>
</html>